<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eshequ.reconciliation.mapper.SpServeBillPayTradeMapper">
  <resultMap id="BaseResultMap" type="com.eshequ.reconciliation.model.SpServeBillPayTrade">
    <id column="TRADE_WATER_ID" jdbcType="BIGINT" property="tradeWaterId" />
    <result column="MERGER_STATUS" jdbcType="CHAR" property="mergerStatus" />
    <result column="PAY_METHOD" jdbcType="CHAR" property="payMethod" />
    <result column="TRAN_DATE" jdbcType="CHAR" property="tranDate" />
    <result column="TRAN_TIME" jdbcType="CHAR" property="tranTime" />
    <result column="NEED_INVOICE" jdbcType="CHAR" property="needInvoice" />
    <result column="INVOICE_TITLE" jdbcType="VARCHAR" property="invoiceTitle" />
    <result column="WEB_USER_ID" jdbcType="BIGINT" property="webUserId" />
    <result column="SIGNATURE" jdbcType="VARCHAR" property="signature" />
    <result column="tran_amt" jdbcType="DECIMAL" property="tranAmt" />
    <result column="csp_id" jdbcType="BIGINT" property="cspId" />
    <result column="sect_id" jdbcType="BIGINT" property="sectId" />
    <result column="FROM_SYS" jdbcType="VARCHAR" property="fromSys" />
    <result column="PLAT_CHANNEL" jdbcType="CHAR" property="platChannel" />
    <result column="PAY_SCENARIOS" jdbcType="CHAR" property="payScenarios" />
    <result column="csp_staff_id" jdbcType="BIGINT" property="cspStaffId" />
    <result column="staff_name" jdbcType="VARCHAR" property="staffName" />
    <result column="CARD_TYPE" jdbcType="CHAR" property="cardType" />
    <result column="owner_consult_amt" jdbcType="DECIMAL" property="ownerConsultAmt" />
  </resultMap>
</mapper>